*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*edit*/

.title_form_student_edit {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.container_student_edit{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5rem;
    width: 50rem;
}
.form_student_edit{
    flex-grow: 2;
    margin-right: 2rem;
}

.form_student_edit label,input,button{
    display: flex;
    margin: 1rem;
    width: 100%;
}